.back {
    height: 100vh; 
    width: 100vw; 
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content {
  
}
.tile-box {
    position: absolute;
    top: calc(120px + 20px); /* Height of navbar + desired spacing */
    right: 100px;
    background-color: rgba(29, 169, 159, 0.2); /* Transparent background */
    border-radius: 110px;
    padding: 20px;
    cursor: pointer;
  }
  
  
  

  .mb-5 {
    margin-bottom: 20px; /* Adjust as needed */
  }
  

.list {
  display: none; /* Initially hide the list */
  
  
  
  background-color: rgba(167, 201, 223, 0.5); /* Semi-transparent background */
  border-radius: 10px;
  padding: 30px;
}

.tile-box.active .list {
  display: block; /* Show the list when the box is active */
}
