.wrapperl{
  width: 520px;
  height: 500px;
  background: rgba(29, 169, 159, 0.2);
  border: 2px solid rgba(255,255,255,.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 20px rgba(44, 49, 47, 0.2) ;
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
  position: fixed;
  top: 50%; left: 50%; 
  transform: translate(-50%,-50%);
}
.bg{
  background:white ;

}
.wrapperl h1{
  font-size: 36px;
  text-align: center;
  color: #91959b;
  font-weight: 900;
}

.wrapperl .input-boxl{
  position: relative;
  width: 420px;
  height: 50px;
  margin: 30px 0;
}

.input-boxl input{
  width: 90%;
  height: 100%;
  background: transparent;
  border: 2px solid rgba(6, 47, 44, 0.2);
  outline: none;
  border-radius: 40px;
  font-size: 20px;
  
  color: #271313;
  padding: 20px 45px 20px 20px;
}

.input-boxl input::placeholder{
color: #3a6266;
font-weight: bold;
}


.wrapperl button{
  width: 100%;
  height: 45px;
  background: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0,0,0,1);
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
  color: #0e0d0d;
  
}

.wrapperl .register-linkl{
  font-size: 16px;
  text-align: center;
  margin: 20px 0 15px;
  font-weight: bold;
  color: black;
  padding: 1px;
}

.register-linkl p a{
  color: hsl(201, 56%, 29%);
  text-decoration: none;
  font-weight: 600;
}

.register-linkl p a:hover{
  text-decoration: underline;
}



 
 code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
     monospace;
 }
 